<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <footer th:fragment="fragment-footer">
    <!-- Contact-->
    <section class="page-section" id="contact" >
      <div class="container">
        <div class="text-center">
          <!--      <h2 class="section-heading text-uppercase">Contact Us</h2>-->
          <!--      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" name="contactForm">
          <div class="row align-items-stretch mb-5">
            <div class="col-md-6">
              <div class="form-group">
                <!-- Name input-->
                <input class="form-control" id="name" name="name" type="text" placeholder="담당자명을 입력해주세요. *" data-sb-validations="required" />
                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
              </div>
              <div class="form-group mb-md-0">
                <!-- Phone number input-->
                <input class="form-control" id="phone" name="phone" type="tel" oninput="phoneCheck(this)"  placeholder="010-1234-1234" data-sb-validations="required" />
                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-textarea mb-md-0">
                <!-- Message input-->
                <textarea class="form-control" id="memo" name="memo" placeholder="상담 받으실 내용을 입력해주세요.*" data-sb-validations="required"></textarea>
                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
              </div>
            </div>
          </div>
          <!-- Submit Button-->
          <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="reservationButton" type="button" ><span style="font-weight:bold;">견적문의</span></button></div>
        </form>
      </div>
    </section>
  </footer>

  <footer class="footer py-4" th:fragment="fragment-footer-sign">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
        <div class="col-lg-4 my-3 my-lg-0">
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="col-lg-4 text-lg-end">
          <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
          <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>